.home {
  background-image: url('/fondo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
}

.home h1 {
  text-align: center;
}